# Arquivos ignorados para projetos C#

bin/
obj/
*.user
*.suo
*.vs/
*.exe
*.dll
*.pdb
*.cache
*.log
*.ide
*.ncb
*.sdf
*.opensdf
*.userprefs
*.resharper
*.DotSettings.user
*.sln.docstates
_ReSharper*/
*.v12.suo
*.ilk
*.meta
*.tmp
*.user
*.userosscache
*.suo
*.xaml.g.cs
*.psess
*.vsp
*.vspscc
*.vssscc
_ReSharper.caches/

