@model RegistroOcorrencias.Models.Noticiante
@{
    ViewData["Title"] = "Editar Noticiante";
}

<div class="container">
    <h2 class="text-white mb-4">Editar Noticiante</h2>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="NomeCompleto" class="form-label text-white"></label>
            <input asp-for="NomeCompleto" class="form-control"/>
            <span asp-validation-for="NomeCompleto" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Cpf" class="form-label text-white"></label>
            <input asp-for="Cpf" class="form-control"/>
            <span asp-validation-for="Cpf" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Telefone" class="form-label text-white"></label>
            <input asp-for="Telefone" class="form-control"/>
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-warning">Atualizar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}