window {
    border: 2px solid #FFD700;
    border-radius: 12px;
}
GtkWindow.clock-label {
    background-color: rgba(54, 69, 79, 0.4);
}
label {
    font-weight: bold;
    font-size: 38px;
    color: #FFD700;
    background-color: transparent;
}
.clock-label {
    font-weight: bold;
    font-size: 38px;
    color: #FFD700;
    background-color: transparent;
}
